body { 
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
/* Fallback for older browsers */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
header {
  background-color: rgba(72, 74, 78, 255);
  color: #fff;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav a:hover {
  color: #f97f51;
  text-decoration: none;
}
/* estilizamos la parte de hero */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: url('your-gif-url') center center/cover no-repeat fixed; */
  background-color: rgba(46, 49, 51, 255);
}

.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #f97f51;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.2em;
}

/* estilizamos la parte de about */
#about-section {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(72,74,78,255);
}

.about h1 {
  font-size: 3.5em;
  color: #f97f51;
  margin-bottom: 20px;
}

.about-container {
  display: flex;
  align-items: center;
  width: 50%;
}

.about {
  margin-right: 50px;
  font-size: 1.2em;
  padding: 20px; /* le metemos un poco de padding para que no este tan pegado al borde */
}

.img {
  float: right;
  width: 0%;
  margin-right: 0px;
}

.bio {
  margin-top: 0;
  color: #fde3b3;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fde3b3;
  color: #f97f51; /* change the text color to white */
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* add a text shadow */
}


.btn:hover {
  background-color: #f97f51;
  color: #fde3b3;
}

/* Creamos el estilo de la seccion de skills */
.skills-grid {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center; /* center vertically */
  margin-top: 50px;
}

.skill-column {
  flex: 1;
  margin: 0 20px;
  background-color: rgba(72, 74, 78, 0.9);
  padding: 40px;
  border: 1px solid #ebebeb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* center horizontally */
}

h3 {
  font-size: 30px; /* larger font size */
  font-weight: bold;
  margin-bottom: 25px;
  color: #f97f51;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px; /* larger font size */
  line-height: 3;
  color: #fde3b3;
}

.skill-column:hover {
  transform: scale(1.05); /* Added transform property */
}

h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #f97f51;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 3;
  color: #fde3b3;
}



/* Contact Section */
#contact {
  background-color: #F8F9FA;
}

.section-header {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list li {
  margin-bottom: 10px;
}

.contact-list li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.contact-list li a:hover {
  color: #007BFF;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f97f51;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(249, 127, 81, 0.25);
}

/* minimalistic vibe */
/* definimos colores primarios */
:root {
  --bg-color: rgba(46, 49, 51, 255);
  --bg-color-dark: rgba(72, 74, 78, 255);
  --text-color: #fde3b3;
  --highlight-color: #f97f51;
}

/* Set background color for body and container */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  background-color: var(--bg-color-dark);
}

/* Set text color for headings and paragraphs */
h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color);
}

/* Set highlight color for links */
a {
  color: var(--highlight-color);
}

/* Set color for contact section */
.contact-section {
  background-color: var(--bg-color-dark);
  color: var(--text-color);
}

/* Set styles for contact form */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
}

.contact-form input[type="submit"] {
  background-color: var(--highlight-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.contact-form input[type="submit"]:hover {
  background-color: var(--text-color);
  color: var(--highlight-color);
}


